/* Header Start */
.navbar.ilk {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid black;
}
.navbar .navbar-expand-lg {
    position: absolute;
    right: 0px;
    margin: 10px 10px 18px 10px;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    display: flex;
    font-size: 15px;
}
.nav-link {
    color: black;
    text-decoration: none;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-brand {
    margin-left: 10px;
}
.navbar-brand .nav-btn {
    background-color: black;
    font-size: small;
    border-radius: 25px;
    width: 100px;
    height: 35px;
}
/* Header Stop */
/* Navbar Start */
.slogan {
    justify-content: center;
    text-align: center;
    height: 200px;
    border-bottom: 1px solid black;
}
.hero-text-wrapper {
    display: flex;
    margin: 120px 0px 0px 0px;
    justify-content: center;
}
.medium-logo-in-hero {
    display: flex;
}
.header-1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px 10px 0px 0px;
}
/* Navbar Stop */
/* Animation Start */
.two-col {
    display: flex;

}
.col-6{
    border-right: 1px solid black;
}
.col-6 h4 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25px 25px 25px 25px;
}
.verticle {
    border-left: 1px solid ;
    height: 75%;
    position: absolute;
    left: 50%;
    margin-left: -0.5px;
    margin: -2% 0% 0%;
    padding-top: 2px;

}
/* Animation Stop */
/* Rose Gold Start */
._01-tri-preview {
    background-color: #ffd1b9;
    border-top: 1px solid black;
}
.middle-heading-wrap h2{
    text-align: center;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: -2.4px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.paragraph-wrap {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}
.row {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.tri-col-item {
    display: flex;
    text-decoration: none;
}
.tri-col-item-name .blah-2{
    color: black;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
}
@media screen and (max-width: 601px) {
    .col.third{
        display: none;
    }
}
/* Rose Gold Stop */
/* Black-One Start */
._01-two-col {
    background-color: black;
    border-top: 1px solid black;
    display: flex;
}
.header-1-alt1 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    color: #fff;
    font-family: 'Gt super text book', Georgia, sans-serif;
}
.col.bifold.testimonial-left{
    border-right: 1px solid white;
}
.col.img.inv.for-carousel{
    margin: 20px;
}
.carousel-inner{
    color: white;
}
.carousel-item{
    text-align: center;
}
.d-block.yorum{
    margin-top: 100px;
}
.d-block.isim{
    margin-top: 30px;
}
/* Black One Start */
/* Black Two Start */
._01-1-col {
    background-color: black;
    border-top: 1px solid white;
    padding: 60px;
}
.middle-heading-wrap-two a{
    text-decoration: none;
}
.middle-heading-wrap-two h2 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paragraph-two {
    color: #fff;
    font-size: 16px;
}
.btn {
    padding: 8px 32px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #34a245;
    border-radius: 20px;
    color: #34a245;
}
/* Black Two Stop */
/* Green Start */
._01-1-col-green {
    background-color: #34a245;
    padding: 60px;
}
.button_2 {
    text-align: center;
}
.btn.green {
    padding: 8px 32px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 20px;
    text-align: center;
    color: #000;
}
/* Green Stop */
/* Green Two Start */
._01-two-col-green {
    background-color: #34a245;
    display: flex;
    text-align: center;
    border-top: 1px solid black;
}
.col-6 {
    padding: 20px;
}
.col-6.bifold-left-border {
    border-left: 0.5px solid black;
    padding: 20px;
}
.trifold-image-a {
    margin-top: 60px;
}
.trifold-image {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Green Two Stop */
/* Green Three Start */
._01-two-col.light-green {
    background-color: #b6e5a4;
    display: flex;
}
.col.img.custom-padding {
    padding-bottom: 0px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border-bottom: 0px solid #000;
    border-left-style: none;
    border-left-width: 0px;
}
.col.three.bifold {
    margin: 15px;
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    color: #000;
}
.col {
    width: 50%;
}
.take h2 {
    font-family: initial;
    font-size: 57px;
}
@media screen and (min-width: 1093px) {
    .take h2 {
        font-size: 87px;
    }
}
.app-icon .w-inline-block img {
    width: 130px;
    margin-right: 19px;
}
.col.img.custom-padding {
    padding-left: 30px;
    padding-bottom: 0px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom: 0px solid #000;
    border-left-style: none;
    border-left-width: 0px;
}
.image-22 {
    margin-top: 30px;
    margin-left: 30px;
    right: 0px;
}
@media screen and (max-width: 790px) {
    .image-22{
        margin-left: 0px;
        width: 200px;
        margin-top: 90px;
    }
}
/* Green Three Stop */
/* White Start */
._01-two-col-weight{
    display: flex;
    border: 1px solid black;
}
.col.bifold.weight.mobile-hide{
    border-right: 1px solid black;
}
.learn{
    padding-top: 20px;
}
.bi-row-item.top{
    border-bottom: 1px solid black;
}
.bot-col-item{
    font-family: 'Gt super text book', Georgia, sans-serif;
    padding-top: 20px;
    padding-left: 10px;
    color: #202020;
    font-size: 20px;
}
.button._2.success.hollow{
    margin-top: 120px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cube{
    display: flex;
    border-bottom: 1px solid black;
}
.col-6.cube{
    padding: 0px;
}
.bifold-header-wrap.read.bottom-padding{
    margin-top: 30px;
    margin-left: 30px;
}
.button._2.li-redirect{
    margin-left: 20px;
    margin-top: 90px;
}
.btn.read.btn-outline-success{
    background-color: #34a245;
    color: #fff;
}
/* White Stop */
/* Footer Start */
.logo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer_white.center.wf-section{
    margin-bottom: 20px;
    text-align: center;
}
.footer_white.center.wf-section a{
    font-size: small;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}
/* Footer Stop */